/* General CSS */

h1 {
    text-align: center;
    color: #000080 !important;
    font-size: 80px;
}

.image {
    background-image: url(../images/seamless-texture.png);
    background-repeat: repeat;
    background-position: center;
}

.headline {
    padding-top: 50px;
}

body {
    background-image: url(../images/white-marble.jpeg);
    background-position: center;
    background-repeat: repeat;
}


/* Nav */

.customNav {
    position: fixed;
    width: 100%;
    background: url(../images/transparency.png);
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    margin: 0px 15px;
}

.customNav a {
    color: #000080 !important;
}

.customNav a:hover {
    color: antiquewhite !important;
}


/* Overview Section */

.container-overview {
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
}

.parentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 1 / 2 / 3 / 3;
}

.float-right {
    float: right;
    height: 70vh;
    width: auto;
    padding: 20px;
}

.container {
    padding: 20px;
}


/* Ideation and Testing Section */

.ideation-images {
    height: 70%;
    width: auto;
}